<?xml version="1.0"?>
<model>
  <name>{{ model_name }}</name>
  <version>1.0</version>
  <sdf version='1.5'>{{ model_name }}.sdf</sdf>

  <author>
   <name>Benjamin Perseghetti</name>
   <email>bperseghetti@rudislabs.com</email>
  </author>

  <description>
    Generated model file.
  </description>
</model>
